src/assets/customer.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://ws.crm.turkcell.com.tr/customer" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.crm.turkcell.com.tr/customer" targetNamespace="http://ws.crm.turkcell.com.tr/customer">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://ws.crm.turkcell.com.tr/customer">


      <xs:element name="listCustomersRequest">
        <xs:complexType>
          <xs:sequence></xs:sequence>
        </xs:complexType>
      </xs:element>


      <xs:element name="listCustomersResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="customers" type="tns:customer" />
            </xs:sequence>
          </xs:sequence>
        </xs:complexType>
      </xs:element>

      <xs:element name="findCustomerRequest">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="tckn" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>


      <xs:element name="findCustomerResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="customer" type="tns:customer" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>

      <xs:complexType name="customer">
        <xs:sequence>
          <xs:element name="id" type="xs:string" />
          <xs:element name="name" type="xs:string" />
          <xs:element name="tckn" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="findCustomerRequest">
    <wsdl:part element="tns:findCustomerRequest" name="findCustomerRequest"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="listCustomersRequest">
    <wsdl:part element="tns:listCustomersRequest" name="listCustomersRequest"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="findCustomerResponse">
    <wsdl:part element="tns:findCustomerResponse" name="findCustomerResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="listCustomersResponse">
    <wsdl:part element="tns:listCustomersResponse" name="listCustomersResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="CustomerPort">
    <wsdl:operation name="findCustomer">
      <wsdl:input message="tns:findCustomerRequest" name="findCustomerRequest"></wsdl:input>
      <wsdl:output message="tns:findCustomerResponse" name="findCustomerResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listCustomers">
      <wsdl:input message="tns:listCustomersRequest" name="listCustomersRequest"></wsdl:input>
      <wsdl:output message="tns:listCustomersResponse" name="listCustomersResponse"></wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CustomerPortSoap11" type="tns:CustomerPort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="findCustomer">
      <soap:operation soapAction="" />
      <wsdl:input name="findCustomerRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="findCustomerResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listCustomers">
      <soap:operation soapAction="" />
      <wsdl:input name="listCustomersRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="listCustomersResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CustomerPortService">
    <wsdl:port binding="tns:CustomerPortSoap11" name="CustomerPortSoap11">
      <soap:address location="http://localhost:4200/customer/ws/customers" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>